 <!DOCTYPE html lang="en">
  <head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>
<body id="target">


<table id="tblresultados">
  <tbody>
  <tr>
    <th>Examen</th>
    <th>Resultado</th>
    <th>Unidad</th>
    <th>Valor de <br>referencia</th>
  </tr>
  </tbody>
</table>        

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
  <script src="js/pdf.js"></script>
</html>