
<html lang="en"><head>

  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>
<header >
<h1 >Resultados</h1>
<div   id="c1">
  
</div>
<div  id="c2">
  
</div>            

</header>
<body id="target">
<div >
  <p >Información del paciente</p>
  <p >Centro</p><p  id="i_centro"></p>
  <p >Orden</p><p  id="i_orden"></p>
  <p >Paciente</p><p  id="p_paciente"></p>
  <p >Fecha de Nacimiento</p><p  id="p_fechaNacimiento"></p>
  <p >Género</p><p  id="p_genero"></p>
  <p >Fecha de Orden</p><p id="p_fechaOrden"></p>
</div>
<div >
  <button id="cmd">Descargar en PDF</button> 
</div> 
<div  id="tabla_datos">
<h1 id="h_examen"></h1>
<h2>HTML Table</h2>
<table id="tblresultados">
  <tr>
    <th>Examen</th>
    <th>Resultado</th>
    <th>Valor de referencia</th>
  </tr>
</table>
</div>          

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
  <script src="js/pdf.js"></script>
</html>