<html lang="en"><head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/person-circle.svg">
    <title>Resultados</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    
    <script src="js/pdfHNVN.js"></script>
    <style>
    @media screen and (min-width: 480px) {
    }

    #tblresultados {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    p {
      display:inline;
      position:absolute;
      font-size: 0.9rem;
      font-style: Calibri;
    }
    .respuesta{
      font-weight:normal;
      
    }
    .titulo{
      font-weight:bold;
      
    }
    .letra{
      font-size: 0.7rem;
    }
    </style>
</head>

  
<body id= "body1">
    <div class="row col-12">
        <p class="titulo" style="POSITION: absolute;left: 25%;top: 5px;">HOSPITAL NACIONAL ESPECIALIZADO DE VILLA NUEVA</p><br>
        <p class="respuesta" style="POSITION: absolute;left: 25%;top: 20px;" id="p_origen2"></p><br>
        <p class="respuesta" style="POSITION: absolute;left: 25%;top: 35px;">Villa Nueva, Guatemala</p><br>
        <!--<img src="img/igss.jpg" style="height:75px;top:2px;left:1%;">-->
        <img id="logopdf" src="" style="position:absolute;height:90px;width:90px;top:10px;left:5%;">
        <!--<hr style ="position:absolute;top:100px;">-->
      </div><br><br>
    <hr>
    <p class="titulo"style="position:absolute;left:1%;top:100px;"  id="tp_paciente">Paciente:    </p>  <p class="col-6 respuesta" id="p_paciente"   style="position:absolute;left:14%;top:100px;"></p><br>
    <p class="titulo"style="position:absolute;left:1%;top:115px;"  id="tp_peticion">Id.Petición: </p>  <p class="col-6 respuesta" id="p_peticion" style="position:absolute;left:14%;top:115px;"></p><br>
    <p class="titulo"style="position:absolute;left:1%;top:130px;"  id="tp_medico">Medico:        </p>  <p class="col-6 respuesta" id="p_medico"     style="position:absolute;left:14%;top:130px;"></p><br>
    <p class="titulo"style="position:absolute;left:65%;top:100px;" id="tp_servicio">Servicio:     </p>  <p class="col-6 respuesta" id="p_servicio"  style="position:absolute;left:78%;top:100px;"></p><br>
    <p class="titulo"style="position:absolute;left:65%;top:115px;" id="tp_fecha">Fecha y Hora:   </p>  <p class="col-6 respuesta" id="p_fecha"   style="position:absolute;left:78%;top:115px;"></p><br>
    <p class="titulo"style="left:40%;top:115px;" id="tp_historia">Historia Clínica:</p>  <p class="col-6 respuesta" id="p_historia"     style="left:53%;top:115px;"></p>
    <!--agregar si hay varios comentarios, por defecto que no exista-->
    <hr style="position:relative;top:-40px;">
  <table id="tblresultados" style="width:100%;font-size:9px;top:180px;position:absolute;bottom:500px;">
    
    <tr>
      <th>Examen</th>
      <th>Resultado</th>
      <th>Unidad</th>
      <th>Valor de referencia</th>
    </tr>
  </table>
  <table style="width:100%;height:100%;">
    <tr ><td class="col-12" colspan="4" style ="font-weight:bold;" id="titulotabla"></tr>
  </table>
  <div style="position:relative;top:5px;left:675px;">
  <img id="firmapdf" src="" style="position:relative;height:90px;width:90px">
  </div>
</body>
<footer>
    
</footer>
    
</html>