
<html lang="en"><head>

  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>
<body id="target">

<div >
  <button id="cmd">Descargar en PDF</button> 
</div> 

<table id="tblresultados" BORDER WIDTH="100%">
  <tr>
    <th>Examen</th>
    <th>Resultado</th>
    <th>Valor de referencia</th>
  </tr>
</table>

</div>          

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
  <script src="js/pdf.js"></script>
</html>