 <!DOCTYPE html lang="es" >
  <head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>
<body id="target">


<table id="tblresultados" style="color:white;">

  <tr>
    <th scope="col"><FONT SIZE="1">Examen</font></th>
    <th scope="col"><FONT SIZE="1">Resultado</font></th>
    <th scope="col"><FONT SIZE="1">Unidad                 -</font></th>
    <th scope="col"><FONT SIZE="1">Valor de referencia                                                    -</font></th>
  </tr>


  
</table>        

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
  <script src="js/pdf.js"></script>
</html>