
<html lang="en"><head>

  <meta charset="UTF-8">

  


</head>
<header class="row col-12">
<h1 class="col-12">Resultados</h1>
<div class="col-6"  id="c1">
   <img src="logoigss"  style="height:100px;"></img>
</div>
<div class="col-6"  id="c2">
  
</div>            

</header>
<body id="target">
<div class="row col-12">

  <p class="col-12">Información del paciente</p>
  <p class="col-6">Centro</p><p class="col-3 respuesta" id="i_centro"></p>
  <p class="col-6">Orden</p><p class="col-4 respuesta" id="i_orden"></p>
  <p class="col-6">Paciente</p><p class="col-6 respuesta" id="p_paciente"></p>
  <p class="col-6">Fecha de Nacimiento</p><p class="col-6 respuesta" id="p_fechaNacimiento"></p>
  <p class="col-6">Género</p><p class="col-6 respuesta" id="p_genero"></p>
  <p class="col-6">Fecha de Orden</p><p class="col-6 respuesta" id="p_fechaOrden"></p>
</div>
<div class="row col-12 d-flex justify-content-center">
  <button id="cmd" class="btn btn-success col-4">Descargar en PDF</button> 
</div> 
<div class="row col-12" id="tabla_datos">
<h1 class="col-12" id="h_examen"style="font-size: 1.5rem;"></h1>
<p class="col-4 titulo">Prueba</p><p class="col-4 titulo">Resultado</p><p class="col-4 titulo">Referencia</p>
</div>          

</body>
<script>

  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
  <script src="js/pdf.js"></script>
</html>