
<html lang="en"><head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/person-circle.svg">
  <title>Resultados</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/resultados.css">
  <script src="js/plugins/jsPDF-1.3.2/dist/jspdf.min.js"></script>
  <script src="js/pdf.js"></script>  
  <link rel="stylesheet" href="views/css/resultados.css">
  <script src="js/resultados.js"></script>
  <style>
  #c1{
    text-align:center;
  }
  #c2{
    text-align:center;
 }
  @media screen and (min-width: 480px) {
 #c1{
   text-align:start;
 }
 #c2{
   text-align:end;
}

  }
  .row {
    margin-right: 1px;
    margin-left: 1px;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
  }
  .respuesta{
    font-weight:bold;
  }
  .bloque{
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
  }
  .titulo{
    font-weight:bold;
    color:#0062cc;
    background-color: #e3e6f0;
  }
  </style>
  <script>
  $(document).ready(function(){

    //$("#p_centro").text();

    

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange=function(){
    if(this.readyState==4 && this.status==200){
    
      var RESPUESTA  = (xhr.response);
          RESPUESTA=JSON.parse(RESPUESTA);
          var largo = RESPUESTA.length;
          console.log(RESPUESTA);
   
  $("#i_centro").text(RESPUESTA[0].Centro);
  $("#i_orden").text(RESPUESTA[0].Orden);
  $("#p_paciente").text(RESPUESTA[0].NombrePaciente);
  $("#p_fechaNacimiento").text(RESPUESTA[0].fechaDeNacimiento);
  $("#p_genero").text(RESPUESTA[0].Genero);
  $("#p_fechaOrden").text(RESPUESTA[0].FechaOrden);

          for(let i=0;i<=largo-1;i++){
            $('#tabla_datos').append('<p class="col-4">'+RESPUESTA[i].nombreExamen+'</p><p class="col-4 respuesta">' + RESPUESTA[i].resultado + '</p><p class="col-4">'+ RESPUESTA[i].valorDeReferencia +'</p>');


          }
   }
  }
  
  xhr.open("GET","https://www.consultaresultadoslaboratorio.health/pdf/" + orden + "/" + centro,true);
  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhr.send();


});
function redireccionar(){
  window.location.href='https://www.consultaresultadoslaboratorio.health/';
}
  </script>
</head>
<header class="row col-12">
<h1 class="col-12">Resultados</h1>
<div class="col-6"  id="c1">
   <img src="logoigss"  style="height:100px;"></img>
</div>
<div class="col-6"  id="c2">
  
</div>            

</header>
<body id="target">
<div class="row col-12">

  <p class="col-12">Información del paciente</p>
  <p class="col-6">Centro</p><p class="col-3 respuesta" id="i_centro"></p>
  <p class="col-6">Orden</p><p class="col-4 respuesta" id="i_orden"></p>
  <p class="col-6">Paciente</p><p class="col-6 respuesta" id="p_paciente"></p>
  <p class="col-6">Fecha de Nacimiento</p><p class="col-6 respuesta" id="p_fechaNacimiento"></p>
  <p class="col-6">Género</p><p class="col-6 respuesta" id="p_genero"></p>
  <p class="col-6">Fecha de Orden</p><p class="col-6 respuesta" id="p_fechaOrden"></p>
</div>

<div class="row col-12" id="tabla_datos">
<h1 class="col-12" id="h_examen"style="font-size: 1.5rem;"></h1>
<p class="col-4 titulo">Prueba</p><p class="col-4 titulo">Resultado</p><p class="col-4 titulo">Referencia</p>
</div>          

</body>

  
</html>