<html lang="en"><head>

              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <link rel="icon" type="image/png" href="img/person-circle.svg">
              <title>Resultados</title>
              <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
              <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
              
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
              
              <script src="js/pdf.js"></script>
              <style>


              @media screen and (min-width: 480px) {


              }

              th,table{
  text-align: inherit;
  border: 1px solid #000;

}
p {
  display:inline;
  position:absolute;
}
              .respuesta{
                font-weight:bold;
              }
              .titulo{
                font-weight:bold;
              }
              </style>

          </head>
          <header class="row col-12">
            <p class="titulo" style="POSITION: absolute;left: 25%;top: 35px;">Laboratorio clinico</p><br>
            <p class="titulo" style="POSITION: absolute;left: 25%;top: 5px;">INSTITUTO GUATEMALTECO DE SEGURIDAD SOCIAL</p><div class="" id="c1">
                 <img src="img/igss.jpg" style="height:100px;position: absolute;top: 1%;left: 1%;">
              </div>
              <div class="col-6" id="c2">
                
              </div>            
              
            </header>
          <body>
          <div class="row col-12">

              <p class="titulo"style="left:1%;top:20%;">Paciente   </p><p class="col-6 respuesta" id="p_paciente" style="left:15%;top:20%;"></p><br>
              <p class="titulo"style="left:1%;top:25%;">Afiliacion </p><p class="col-6 respuesta" id="p_afiliacion" style="left:15%;top:25%;"></p><br>
              <p class="titulo"style="left:1%;top:30%;">Sexo       </p><p class="col-6 respuesta" id="p_genero" style="left:15%;top:30%;"></p><br>
              <p class="titulo"style="left:1%;top:35%;">Nacimiento </p><p class="col-6 respuesta" id="p_nacimiento" style="left:15%;top:35%;"></p><br>
              <p class="titulo"style="left:1%;top:40%;">Origen     </p><p class="col-6 respuesta" id="p_origen" style="left:15%;top:40%;"></p><br><br>
              
              <p class="titulo"style="left:75%;top:20%;">No.Petición </p><p class="col-6 respuesta" id="p_peticion" style="left:85%;top:20%;"></p><br>
              <p class="titulo"style="left:75%;top:25%;">Recepción   </p><p class="col-6 respuesta" id="p_recepcion" style="left:85%;top:25%;"></p>

              <p class="titulo"style="left:40%;top:30%;">Medico      </p><p class="col-6 respuesta" id="p_medico" style="left:50%;top:30%;"></p><br>
              <p class="titulo"style="left:40%;top:35%;">Servicio    </p><p class="col-6 respuesta" id="p_servicio" style="left:50%;top:35%;"></p>
          </div>
          
          
            <table id="tblresultados" style="width:100%;position: absolute;top: 50%;">

              <tr>
                <th>Examen</th>
                <th>Resultado</th>
                <th>Unidad</th>
                <th>Valor de referencia</th>
              </tr>
            
            
              
            </table> 
          
          
          </body>
          
              
          </html>