#c1{
    text-align:center;
  }
  #c2{
    text-align:center;
 }
  @media screen and (min-width: 480px) {
 #c1{
   text-align:start;
 }
 #c2{
   text-align:end;
}
th,table{
  text-align: inherit;
  border: 1px solid #000;

}

  }
  .row {
    margin-right: 1px;
    margin-left: 1px;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
  }
  .respuesta{
    font-weight:bold;
  }
  .bloque{
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
  }
  .titulo{
    font-weight:bold;
    color:#0062cc;
    background-color: #e3e6f0;
  }